
<% include ../partials/header %>

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="mt-5">Your Order has been Confirmed!</h2>
          
          <ul class="list-unstyled">
            <li>Order Number: <%= orderNumber %></li>
          </ul>
        </div>
      </div>
    </div>

<% include ../partials/footer %>