
#pagin {
  display: table;
  margin: auto;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

li{
    list-style:none;
}

.error {
    margin-top:20%;
	background: #fcc;
	border: 2px solid #c99;
}

#pswd_info {
    position:absolute;
    width:250px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
    display:none;
}

@media (min-width:1025px) { 
	#carou .container{
		max-width:750px;
	}
  	#myCarousel{
  		margin-top:50px;
  	}
}
#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}
#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

.invalid {
    background:url(../images/invalid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    background:url(../images/valid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}
#registerForm .container, #addItem .container{
  padding: 2.5%;
  max-width:100%;
}

.deleteForm{
    display: inline;
}
#flashMsg{
    padding-top:5%;
}

.row.flex {
  display: flex;
  flex-wrap: wrap;
 
}
.thumbnail img{
    max-height: 30%; 
    max-width: 30%;
    background-size: cover;
    background-position: center center;
}
#categs {
  display: flex;
  justify-content: center;
  padding:5%;
}
#categs .item img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
}
#categs .item{
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#categs .item * {
  box-sizing: border-box;
}

#categs .item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

#categs .item a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
#categs .item.red {
  background-color: #ffdb58;
}
#categs .item.red i {
  color: #ffdb58;
}
#categs .item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

#categs .item * {
  transition: all .35s ease-in-out;
}

#categs .item i {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
#categs .item:hover i {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
html,body{
  height:100%;
}

#foot nav {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    flex-shrink:0;
}